# 读取所有文件并允许所有文件，然后 dist 通配符文件系统。
!dist/purecounter.js
!dist/debugger.js
!debugPureCounter
# 模数文件系统
!js/purecounter.js
!js/debugger.js
!purecounter.js
!debugger.js
# 由节点包管理器引擎系统项目为您带来。
!package.json
!yarn.lock
!error/handler.js
!error
# eof
